USE [master]
GO
/****** Object:  Database [FlappyBird]    Script Date: 22/03/2014 21.43.47 ******/
CREATE DATABASE [FlappyBird]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlappyBird', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.TABRIS_SQLSERVER\MSSQL\DATA\FlappyBird.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FlappyBird_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.TABRIS_SQLSERVER\MSSQL\DATA\FlappyBird_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlappyBird].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlappyBird]
GO
/****** Object:  User [flappybird]    Script Date: 22/03/2014 21.43.47 ******/
CREATE USER [flappybird] FOR LOGIN [flappybird] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [flappybird]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [flappybird]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 22/03/2014 21.43.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[ScoreId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](16) NOT NULL,
	[Score] [int] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_Scores] PRIMARY KEY CLUSTERED 
(
	[ScoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Top_5]    Script Date: 22/03/2014 21.43.48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Top_5]
AS 
	SELECT TOP 5 fb.Username
				 , fb.Score
				 , fb.Timestamp
				 , count(fb.Score) as Scores
	FROM dbo.Scores fb
	group by fb.Username
			 , fb.Score
			 , fb.Timestamp
	order by fb.Score desc

GO
USE [master]
GO
