USE [master]
GO
/****** Object:  Database [ITS2014]    Script Date: 21/03/2014 22.24.05 ******/
CREATE DATABASE [ITS2014]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITS2014', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.BISHOP_SQLSERVER\MSSQL\DATA\ITS2014.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ITS2014_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.BISHOP_SQLSERVER\MSSQL\DATA\ITS2014_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITS2014].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITS2014]
GO
/****** Object:  User [ITS2014]    Script Date: 22/03/2014 22.24.05 ******/
CREATE USER [ITS2014] FOR LOGIN [ITS2014] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ITS2014]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ITS2014]
GO
/****** Object:  Table [dbo].[Contatti]    Script Date: 22/03/2014 22.24.05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contatti](
	[ContattoId] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [nvarchar](64) NOT NULL,
	[Nome] [nvarchar](64) NOT NULL,
	[Cellulare] [nvarchar](64) NOT NULL,
	[Email] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_Contatti] PRIMARY KEY CLUSTERED 
(
	[ContattoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
