@charset 'utf-8'; 
table, tr, td, th{
                border:  2px solid #1493bc;
            }
            
            th{
                color:  white;
            }
            table{
                width:  100%;
                border-spacing: 0px;
            }
            thead tr{
                height: 20px;
                background-color:  #31b0d9;
            }